html, body{
    align-items: center;
    justify-content: center;
    display: grid;
    align-content: center;
    background-color: #111224;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 390px;
}
.box-center{  
  align-self: center;
  justify-self: center;
}

.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
 
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #ff0;
    transform-origin: center;
    
  }
  

  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }

  #svg-container {
    position: relative;
    width: 500px;
    height: 500px;
    
  }

  body > div.box-center > div > svg.elemento-svg{
    overflow: hidden;

  }
  #svg-element {
    position: absolute;
    top: 0;
    left: 0;
    
  }

  .label{
    display: flex;
    position: absolute;
    cursor: pointer;
  }

.box-talk{
  margin-top: -50px;
  display: flex;
  position: absolute;
  top: 50%;
  justify-self: center;
  padding-top: 0;
}

.svgBoxTalk{
  width: 370px;
}
.box-talk h2{
  font-size: 16px;
  left: 17px;
  color: #BFFFFF;
  position: absolute;
  align-self: center;
  justify-self: center;
}

.setaTalk{
  position: absolute;
  left: 85%;
  top: 85%;
  cursor: pointer;
}

#my-path , #seta1 , #seta2{
  stroke-width: 2px; /* Define a largura da borda */
  animation: change-stroke-color 4s infinite alternate;
}

@keyframes change-stroke-color {
  0% {
    stroke: #019292; /* Cor inicial da borda */
  }
  50% {
    stroke: #04DDDD /* Cor intermediária da borda */
  }
  100% {
    stroke: #019292; /* Cor final da borda */
  }
}

.text2{
  display: none;
}

.box-display{
  position: absolute;
  display: flex;
  top: 7px;
  justify-self: center;
  padding-top: 0;
}

#display{
  display: none;
  stroke: azure;
  width: 367px;
  height: 268px;
  backdrop-filter: blur(10px);
}

.box-menu{
  position: absolute;
  display: flex;
  align-items: center;
  top: 87%;
  justify-self: center;
}

.box-menu #svg5{
  margin-left: 20px;
}

.light-menu{
  animation: change-stroke-menu-color 4s infinite alternate;
}

@keyframes change-stroke-menu-color {
  0% {
    stroke: #998b9c; /* Cor inicial da borda */
  }
  50% {
    stroke: #ffffff /* Cor intermediária da borda */
  }
  100% {
    stroke: #998b9c; /* Cor final da borda */
  }
}

.menu-hover-active{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(298.81608px) scaleY(-1) ;
}

.box-menu svg:active{
  transform: scale(1.1);
}